header h1, h4{
    text-align: center;
    color: rgb(54, 74, 108);;
}

.logo{
    height:150px;
    margin-top: 25px;
}

fieldset{
    width:20%;
    margin-left: 40%;
    display: block;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 20px groove (internal value);
}

.enter-here{
    height:30px;
    width:250px;
    border-radius: 5px;
}

.submit-button{
    background-color: rgb(54, 74, 108);;
    margin-top: 20px;
    border-radius: 12px;
    height: 50px;
    width: 100px;
    border-color: rgb(54, 74, 108);;
    font-family: sans-serif;
    color:white;
}

footer{
    margin-top: 40px;
    font-size: small;
    text-align: center;
}
